@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

#hoja {
    height: 29.7cm;
    width: 21cm;
    margin-top: 0;
    border: 0.1mm #000000 solid;
    display: grid;
    grid-template-columns: repeat(3, 33.3333333333333%);
    grid-template-rows: repeat(4, 25%);
    background-color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Poppins';
    font-weight: 500;
}

#data, #rest {
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    border: 0.1mm #000000 solid;
    font-size: 0.9em;
}

#data {
    grid-column: 1 / 1;
    grid-row: 2 / 5;
}

#rest {
    grid-column: 2 / 4;
    grid-row: 2 / 5;
}

.title {
    grid-column: 1 / 6;
    grid-row: 1 / 1;
    display: flex;
    border: 0.1mm #000000 solid;
    justify-content: space-around;
    font: normal 'Poppins', sans-serif;
    background-color: #e97a00;
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFFFFF;
    text-shadow: 2px 2px #000000;
}

.me {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.title img {
    border-radius: 50%;
    max-height: 90%;
    margin-top: auto;
    margin-bottom: auto;
    border: 0.1mm #000000 solid;
}

.nombre {
    font-size: 3.5em;
    font-weight: 650;
}

.descripcion {
    font-size: 1.75em;
}

.contact, .skills, .aboutme, .softSkills, .languages, .education, .courses, .skills-resume {
    width: 90%;
    margin: auto;
    padding: 0;
    height: auto;
}

.data h2, .rest h2 {
    text-decoration: underline;
    font-weight: 600;
}

ul {
    list-style: none;
    margin: auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000000;
}

.skills-resume{
    display: flex;
    justify-content: center;
}

.skills-resume i {
    margin: 1mm;
    font-size: 3.5em;
    transition: transform .2s;
    background-color: #ffffff;
}

.skills-resume i:hover {
    transform: scale(1.2);
}

.skills li {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    padding-top: 4mm;
    font-size: 1em;
}

@keyframes animate {
    100%{
      transform: scaleX(1);
    }
}

.progressbar {
    background-color: #ffffff;
    padding: 0;
    width: 50%;
    border: 0.5mm #000000 solid;

    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    animation: animate 0.75s cubic-bezier(1,0,0.5,1) forwards;
}

.value {
    display: none;
}
  
.progressbar div {
    background-color: #e97a00;
    width: 20%;
    height: 100%;
    border-radius: 8px;
    padding: 0;
    margin-left: 0;
    margin-top: auto;
    margin-bottom: auto;

    transform: scaleX(0);
    transform-origin: left;
    animation: animate 0.75s 0.75s cubic-bezier(1,0,0.5,1) forwards;
}