#gameScreen {
  border: 1px solid black;
  background-image: url("../../resources/images/game_background.png");
}

#canvas-container {
  width: 100%;
  text-align:center;
}

canvas {
  display: inline;
}

img {
  display: none;
}
